table{
 border:1px groove red;
     margin: 100px auto;
     margin-top: 0;
 }
     td{
     height:50px;
     width:50px;
     }
     #white{
     background: white;
    }
     #black{ 
         background: black;
     }
     h1{
         text-align: center;
     }